@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na mojej stronie BeFit</h1>
    <p>Trenuj z nami, bo kanapa już i tak ma z Tobą zbyt bliską relację.</p>
    <p><b>Czas ją trochę zdradzić z hantlami!</b></p>
</div>
