@model IEnumerable<BeFit.Models.ExerciseType>

@{
    ViewData["Title"] = "Typy æwiczeñ";
}

<h1>Typy æwiczeñ</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowy typ æwiczenia</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuñ</a>
            </td>
        </tr>
}
    </tbody>
</table>